<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beukay.marketing.person.dbsdk.dao.AgentRegistryDOMapper">

  <select id="listPage" resultType="com.beukay.marketing.person.dbsdk.model.AgentRegistryDO">
    select
      id, is_deleted, nezha_tenant_code, name, description, status,
      agent_unique_id, category, endpoint_url, agent_type, version, owner_id,
      definition_id, definition_version, identity_id, current_skill_id, endpoint_type,
      create_at, create_by, create_name, update_at, update_by, update_name
    from agent_registry
    where is_deleted = 0
    <if test="name != null and name != ''">
      and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    <if test="status != null and status != ''">
      and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="category != null and category != ''">
      and category = #{category,jdbcType=VARCHAR}
    </if>
    <if test="agentType != null and agentType != ''">
      and agent_type = #{agentType,jdbcType=VARCHAR}
    </if>
    order by id desc
  </select>

</mapper>
